*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html,body {
    width: 100%;
    height: 100%;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(83, 38, 46);
}
#panel {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

}
#ptop {
    width: 100%;
    height: 100px;
    background-color: rgb(123, 29, 119);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.elem {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;

}
.box {
    color: rgb(2, 17, 2);
    font-size: 25px;
    font-weight: 600;
    padding: 8px 15px;
    background-color: #fff;
    border-radius: 5px;
}
#pbtm {

    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    user-select: none;

}
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-weight: 500;
    color: #fff;
    background-color: rgb(143, 13, 13);
}
.bubble:hover {
    cursor: pointer;
    background-color: rgb(162, 40, 111);
}